<div class="container">

  <h2>Overview</h2>

  <p>Welcome to the RichGro API documentation! You can use our API to access RichGro endpoints.</p>
  <p>Before using API, here are some instructions to consider:</p>
  <div class="example">
    <p class="alert alert-error">Before using any API call, it is required to have an <code>access_token</code>. You can generate one for you using <a href="#resource_tokenizer" >Generate token for API</a> call. </p>
    <p class="alert alert-error">This base URL for API is <%=  link_to ENV['HOST'], ENV['HOST'] %></p>
  </div>
</div>
